* {
	box-sizing: border-box;
}

.header {
	padding-top: 40px;
	overflow: hidden;
}

.header__container {
    max-width: 1298px;
    margin: 0 auto 2rem;
    padding: 0.5rem;
	 background-color: #171717;
	 border-radius: 50px;
}

.list {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

@media (max-width: 900px) {
	.list {
		flex-wrap: wrap;
	}
}

.list__item {
	color: #fff;
	padding: 20px 40px;
	font-size: 1.25rem;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	cursor: pointer;
	transition: 0.2s all;
	border-radius: 60px;
}

@media (max-width: 1350px) {
	.list__item {
		padding: 20px 20px;
	}
}

.list__item:hover {
	background-color: rgb(255, 255, 255, 0.1);
}

.list__item-active {
	background-color: #FD853A;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;

}

.logo {
	display: flex;
	padding-left: 84px;
	padding-right: 84px;
	transition: 0.5s all;
}

@media (max-width: 1350px) {
	.logo {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.hero {
	max-width: 1298px;
	margin: 0 auto;
	padding: 0 16px;
}

.hero__container {
	text-align: center;
}

.hero__greeting {
	margin: 0 auto;
	display: inline-block;
	font-family: 'Lufga', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 10px 25px;
	border: 1px solid #171717;
	border-radius: 38px;
	position: relative;
}

.hero__greeting::before {
	content: '';
	background-image: url('./assets/images/hero-hello.svg');
	background-repeat: no-repeat;
	width: 36px;
	height: 38px;
	position: absolute;
	right: -30px;
	top: -20px;
	margin-bottom: 10px;
}

.hero__title {
	font-size: 95px;
	margin: 0 0 -50px;
	font-family: 'Urbanist-600', sans-serif;
	font-weight: 600;
	z-index: -1;
	position: relative;
}

@media(max-width: 784px) {
	.hero__title {
		font-size: 70px;
	}
}


.hero__title div {
	position: relative;
	max-width: max-content;
	margin: 0 auto;
}

.hero__title div::before {
	content: '';
	background-image: url('./assets/images/hero-title.svg');
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	left: -66px;
	bottom: -42px;
}

@media(max-width: 784px) {
	.hero__title div::before {
		display: none;
	}
}

.hero__title span {
	color: #FD853A;
}

.hero__main {
	background: url('./assets/images/hero-photo-bg.png') center -250px no-repeat;
	padding-bottom: 38px;
	position: relative;
}

.hero__main-img {
	left: 0;
	bottom: 0;
	position: absolute;
	transform: scale(0.1);
	z-index: -1;
	transition: none;
}

.hero__main-img_active {
	visibility: visible;
	z-index: 2;
	pointer-events: none;
	width: auto;
	transform: scale(1);
	transition: 0.5s all;
	left: 60px;
}

@media (max-width: 1300px) {
	.hero__main-img { 
		display: none;
	}
}

@media (max-width: 900px) {
	.hero__main {
		background: url('./assets/images/hero-bg-small.png') center 50px no-repeat;
	}
}

@media (max-width: 700px) {
	.hero__main {
		background: url('./assets/images/hero-bg-small.png') center 261px no-repeat;
	}
}

@media (max-width: 450px) {
	.hero__main {
		background: url('./assets/images/hero-bg-small.png') center 436px no-repeat;
	}
}


.hero__text {
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
}

@media (max-width: 700px) {
	.hero__text {
		padding-bottom: 120px;
	}
}

@media (max-width: 450px) {
	.hero__text {
		flex-direction: column;
		gap: 20px;
	}
}

.hero__comment {
	width: 328px;
	text-align: left;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	color: #344054;
	font-size: 20px;
	padding-top: 60px;
	position: relative;
	letter-spacing: -1.5%;
	transition: 0.5s all;
}

@media (max-width: 1100px) {
	.hero__comment {
		width: 200px;
	}
}

.hero__comment::after {
	position: absolute;
	content: '';
	background-image: url('./assets/images/hero-comment.svg');
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.hero__expertise {
	text-align: right;
	margin-bottom: 207px;
}

.hero__stars {
	margin-bottom: 21px;
}

.hero__years {
	font-family: 'Urbanist-700', sans-serif;
	font-weight: 700;
	font-size: 47px;
	margin: 0 0 5px;
	letter-spacing: -2px;
}

.hero__experince {
	font-family: 'Lufga', sans-serif;
	font-size: 20px;
	margin: 0;
}

.btns {
	margin: 0 auto;
	padding: 10px;
	display: flex;
	max-width: max-content;
	border: 2px solid #D0D5DD;
	border-radius: 50px;
	position: relative;
	z-index: 1;
 }
 
 .btns::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(5px);
	z-index: -1;
	border-radius: 50px;
 }

.btns__btn {
	padding: 14px 17.5px;
	font-size: 25px;
	color: #fff;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	cursor: pointer;
	transition: 0.2s all;
}

@media (max-width: 450px) {
	.btns__btn { 
		font-size: 18px;
	}
}

.btns__btn-active {
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	padding: 14px 74px 14px 32px;
	background-color: #FD853A;
	border: 1px solid #D0D5DD;
	border-radius: 60px;
	position: relative;
	transition: 0.2s all;
}

.btns__btn-active::after {
	position: absolute;
	content: '';
	background-image: url('./assets/images/hero-arrow.svg');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	position: absolute;
	right: 32px;
	top: 8px;
}

.header__burger-menu {
	display: none;
}


@media (max-width: 900px) {
	.header__burger-menu {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 16px 32px 16px;
		background-color: #171717;
		border-radius: 50px;
		padding-left: 16px;
		cursor: pointer;
		margin-bottom: 32px;
	}
}


@media (max-width: 900px) {
	.header__container {
		display: none;

	}
}


.header__burger-menu .burger-menu .burger-menu__item {
	width: 30px;
	height: 2px;
	background-color: #fff;
}


.header__burger-menu .burger-menu .burger-menu__item:first-of-type {
	margin-bottom: 6px;
}

.header__burger-menu .burger-menu .burger-menu__item:nth-of-type(2) {
	margin-bottom: 6px;
}


.header__mobile-menu {
	position: absolute;
	left: -100%;
	transition: 0.5s all;
	display: flex;
	justify-content: space-between;
	}

.header__mobile-close {
	position: relative;
	cursor: pointer;
	width: 60px;
	height: 60px;
	top: 77px;
	right: 50px;
}

.header__mobile-close div {
	width: 40px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 25px;
	left: 10px;
	}

.header__mobile-close div:first-of-type {
	transform: rotate(-45deg);
}

.header__mobile-close div:last-of-type {
	transform: rotate(45deg);

}

@media (max-width: 900px) {
	.header__mobile-menu_active {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.9);
		z-index: 100;
	}
}

.mobile-list  {
	padding-top: 50px;
}

.mobile-list .list__item {
	color: #fff;
	padding: 20px 40px;
	font-size: 1.25rem;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	cursor: pointer;
	transition: 0.5s all;
	list-style-type: none;
}

.mobile-list .list__item-active {
	width: max-content;
}


.services {
	background-image: url('./assets/images/services-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 1440px;
	margin: 0 auto;
	border-radius: 80px;
	padding-left: 16px;
	padding-right: 16px;
}

@media (max-width: 850px) {
	.services {
		background-image: url('./assets/images/testimonials-bg.png');
	}
}

.services__container {
	padding: 68px;
	overflow: hidden;
}

@media (max-width: 800px) {
	.services__container {
		padding: 16px;
	}
}

.services__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 96px;
	align-items: center;
	gap: 20px;
}

@media(max-width: 850px) {
	.services__top {
		flex-direction: column;
		margin-bottom: 20px;
	}
}

.services__title {
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 48px;
	text-transform: capitalize;
	margin: 0;
	flex-shrink: 0;
}

.services__title span {
	color: #FD853A;
}

.services__info {
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 20px;
	max-width: 576px;
}

.services__examples-wrapper {
	max-width: 1298px;
	overflow: hidden;
}

.services__examples {
	display: flex;
	gap: 25.5px;
	justify-content: space-between;
	margin-bottom: 40px;
	transition: 0.5s all;
}

.example {
	flex-grow: 0;
	flex-shrink: 1;
	cursor: pointer;
	flex: 0 0 calc(33.33% - 25px);
}

@media (max-width: 900px) {
	.example {
		flex: 0 0 calc(50% - 25px);
	}
}

@media (max-width: 550px) {
	.example {
		flex: 0 0 calc(100% - 25px);
	}
}

.example__title {
	padding: 44px 37px 23px;
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 32px;
	border: 1px solid #FCFCFD;
	border-radius: 50px 50px 0 0;
	position: relative;
	z-index: 1;
	margin: 0;
	transition: 0.5s all;
}

@media (max-width: 1150px) {
	.example__title {
		font-size: 26px;
		padding: 34px 17px 18px;
	}
}

.example__title::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgb(255, 255, 255, 0.1);
	z-index: -1;
	border-radius: 50px 50px 0 0;
	transition: 0.5s all;
}

.example:hover  .example__title::before {
	background-color: rgb(253, 133, 58);
}

.example__center {
	height: 120px;
	border-left: 1px solid #FCFCFD;
	border-right: 1px solid #FCFCFD;
	position: relative;
	z-index: 1;
}

.example__center::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgb(255, 255, 255, 0.1);
	z-index: -1;
	transition: 0.5s all;
}

.example:hover  .example__center::before {
	background-color: rgb(253, 133, 58);
}

.example__bottom {
	position: relative;
}

.example__img {
	display: inline-block;
	margin-top: -90px;
	z-index: 2;
	position: relative;
	width: 100%;
}

.example:hover .example__bottom .example__btn {
	background-color: rgb(253, 133, 58);
}

.example__btn {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url('./assets/images/services-arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	width: 114px;
	height: 114px;
	border-radius: 100px;
	border: none;
	background-color: #1D2939;
	transition: 0.5s all;
}

@media (max-width: 1420px) {
	.example__btn {
		width: 94px;
		height: 94px;
	}
}

@media (max-width: 1220px) {
	.example__btn {
		width: 74px;
		height: 74px;
	}
}

@media (max-width: 1000px) {
	.example__btn {
		width: 62px;
		height: 62px;
		background-size: 90%;
	}
}

@media (max-width: 900px) {
	.example__btn {
		width: 80px;
		height: 80px;
		background-size: 100%;
	}
}

@media (max-width: 900px) {
	.example__btn {
		width: 70px;
		height: 70px;
		background-size: 80%;
	}
}

@media (max-width: 550px) {
	.example__btn {
		width: 100px;
		height: 100px;
		background-size: 100%;
	}
}

@media (max-width: 550px) {
	.example__btn {
		width: 82px;
		height: 82px;
		background-size: 80%;
	}
}

.slider {
	margin: 0 auto;
	display: flex;
	gap: 12px;
	justify-content: center;
	transition: 0.5s all;
}

.slider__elem {
	width: 15px;
	height: 15px;
	border-radius: 20px;
	background-color:#E4E7EC;
	cursor: pointer;
	transition: 0.2s all;
}

.slider__elem:nth-of-type(5) {
	display: none;
}

.slider__elem:nth-of-type(6) {
	display: none;
}

@media (max-width: 900px) {
	.slider__elem:nth-of-type(5) {
		display: block;
	}
}

@media (max-width: 550px) {
	.slider__elem:nth-of-type(6) {
		display: block;
	}
}

.slider-active {
	width: 60px;
	height: 15px;
	border-radius: 20px;
	background-color:rgb(253, 133, 58);
}

.expirience {
	max-width: 1298px;
	margin: 0 auto;
}

.expirience__container {
	padding: 85px 16px 155px;
}

@media (max-width: 650px) {
	.expirience__container {
		padding: 85px 16px 25px;
	}
}

.expirience__title {
	text-align: center;
	font-size: 64px;
	text-transform: capitalize;
	color: #344054;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	margin: 0 0 85px;
}

.expirience__title span {
	color: #FD853A;
}

.expirience__info {
	position: relative;
}

.positon {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	gap: 20px;
}

@media (max-width: 600px) {
	.positon {
	flex-direction: column;
	align-items: flex-start;
	gap: 5px;
	}
	
}

.positon__left-block {
max-width: 510px;
}

@media (max-width: 1100px) {
	.positon__left-block {
		width: 50%;
		}
}

@media (max-width: 600px) {
	.positon__left-block {
		width: 100%;
		}
}

.position__company {
	color: #344054;
	font-size: 40px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	margin-bottom: 14px;
}

.position__work-period {
	color: #98A2B3;
	font-size: 24px;
}

.positon__right-block {
	width: 444px;
}


@media (max-width: 600px) {
	.positon__right-block {
		width: 100%;
		}
}

.expirience__img {
	position: absolute;
	left: 50%;
	top: 0;
}

@media (max-width: 1100px) {
	.expirience__img {
		display: none;
		}
}

.position__name {
	color: #344054;
	margin-bottom: 14px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

.position__description {
	color: #98A2B3;
	font-family: 'Lufga-400', sans-serif;
	font-weight: 5700;
	font-size: 20px;
}

.reason {
	background-color: #F2F4F7;
	border-radius: 50px;
	max-width: 1298px;
	margin: 0 auto;
	padding: 0 16px 103px;
}

.reason__container {
	max-width: 1298px;
	margin: 0 auto;
	display: flex;
}

@media (max-width: 850px) {
	.reason__container {
		flex-direction: column;
		align-items: center;
	}
}

.reason__img {
transition: 0.5s all;
padding-top: 93px;
padding-left: 20px;
background-size: 0;
background-position: center center;
background-repeat: no-repeat;
object-fit: contain;
transition: 0.5s all;
}

.reason__container:hover .reason__img{
	background-image: url('./assets/images/reason-img-hover.svg');
	background-size: 100%;
}

@media (max-width: 1200px) {
	.reason__img {
		width: 50%;
	}
}

@media (max-width: 850px) {
	.reason__img {
		width: 80%;
		padding-top: 80px;
	}
}

.reason__info {
	padding-top: 166px;
}

@media (max-width: 1200px) {
	.reason__info  {
		flex: 1 1 50%;
	}
}

@media (max-width: 850px) {
	.reason__info  {
		padding-top: 50px;
	}
}


.reason__title {
	margin: 0 0 47px;
	color: #344054;
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
}

.reason__title span {
	color: #FD853A;
	display: inline-block;
}

.reason__text {
	margin: 0 0 47px;
	max-width: 444px;
	color: #98A2B3;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.reason-list {
	display: flex;
	gap: 10px;
	margin-bottom: 47px;
}

.reason-list__item {
	flex: 1 1 50%;
}

.reason-list__figure {
	color: #1D2939;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 36px;
	margin-bottom: 10px;
}

.reason-list__text {
	color: #667085;
	font-family: 'Lufga', sans-serif;
	font-size: 20px;
}

.reason__button {
	padding: 33px 59px;
	border-radius: 32px;
	border: 1px solid #151515;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #151515;
	cursor: pointer;
}

.reason__button:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.reason__button:active {
	background-color: rgb(253, 133, 58);
	color: #fff;
	border: 1px solid rgb(253, 133, 58);
}



.portfolio {
	padding: 0 16px 97px;

}

.portfolio__container {
	padding-top: 97px;
	max-width: 1290px;
	margin: 0 auto;
}

.portfolio__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	align-items: center;
	gap: 20px;
}

.portfolio__title {
	margin: 0;
	max-width: 643px;
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
	color: #151515;
}

@media (max-width: 800px) {
	.portfolio__title {
		font-size: 40px;
	}
}

.portfolio__title span {
	color: #FD853A;
}

.portfolio__btn {
	padding: 20px 40px;
	border-radius: 60px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #FD853A;
	cursor: pointer;
	flex-shrink: 0;
}

.portfolio__btn:hover {
	background-color: rgb(0,0,0,0.3);
}

.portfolio__btn:active {
	background-color: rgb(0,0,0);
}

.portfolio__examples-wrapper {
	overflow: hidden;
}

@media (max-width: 900px) {
	.portfolio__examples-wrapper 	{
		width: 500px;
		margin: 0 auto;
	}
}

@media (max-width: 550px) {
	.portfolio__examples-wrapper 	{
		width: 375px;
	}
}

@media (max-width: 400px) {
	.portfolio__examples-wrapper 	{
		margin: 0;
	}
}

.portfolio__examples-block {
	display: flex;
	gap: 25px;
	transition: 0.5s all;
}

.portfolio__examples {
	display: flex;
	gap: 24px;
	margin-bottom: 47px;
	width: 94vw;
}

@media (max-width: 1000px) {
	.portfolio__examples {
		margin-bottom: 20px;
	}
	
}

@media (max-width: 900px) {
	.portfolio__examples {
		flex-direction: column;
		align-items: center;
	}
}

.work-example {
	padding: 10px 10px 20px;
	background-image: url('./assets/images/portfolio-img.png');
	background-repeat: no-repeat;
	width: 633px;
	background-size: contain;	
}



.work-example__main {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 5;
	cursor: pointer;
}

.work-example__btn {
	margin-bottom: 32%;
	width: 60px;
	height: 60px;
	border-radius: 64px;
	border: 1px solid #FD853A;
	align-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s all;
}

@media (max-width: 1200px) {
	.work-example__btn {
		margin-bottom: 27%;
	}
}

@media (max-width: 1000px) {
	.work-example__btn {
		margin-bottom: 24%;
	}
}

@media (max-width: 550px) {
	.work-example__btn {
		margin-bottom: 20%;
	}
}

@media (max-width: 435px) {
	.work-example__btn {
		margin-bottom: 14%;
	}
}

@media (max-width: 900px) {
	.work-example {
		width: 500px;
	}
}

@media (max-width: 550px) {
	.work-example {
		width:364px;
	}
}


@media (max-width: 400px) {
	.work-example {
		width: 327px;
	}
}


.work-example:hover .work-example__btn {
	background-color: #FD853A;
}

.work-example:hover .work-example__btn svg path{
	fill: #FFFAF5;
}

.work-example__title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #FFFAF5;
	margin: 0;
}

.work-example:hover .work-example__title {
	visibility: hidden;
}

.work-example__back {
	position: absolute;
	z-index: -1;
	transition: 0.5s transform;
	margin-top: -170px;
	width: 613px;
	visibility: hidden;
}

@media (max-width: 1350px) {
	.work-example__back {
		width: 550px;
		margin-top: -200px;
	}
}


@media (max-width: 1250px) {
	.work-example__back {
		width: 46%;
		margin-top: -185px;
	}
}

@media (max-width: 1100px) {
	.work-example__back {
		margin-top: -145px;
	}
}

@media (max-width: 900px) {
	.work-example__back {
		width: 480px;
		margin-top: -115px;
	}
}

@media (max-width: 550px) {
	.work-example__back {
		width: 295px;
		margin-top: -115px;
	}
}

.work-example__container {
	position: relative;
	z-index: 1;
}

.work-example__back::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	border-radius: 24px;
}

.work-example:hover .work-example__info-visible{
	z-index: 10;
	height: auto;
	padding: 20px 24px;
	transform: translateY(-40px);
	visibility: visible;
}


@media (max-width: 1100px) {
	.work-example:hover .work-example__info-visible{
		padding: 10px 14px;
		transform: translateY(-20px);
	}
}

.work-example__info-title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #FFFAF5;
	margin: 0 0 20px;
}

@media (max-width: 1100px) {
	.work-example__info-title {
		font-size: 30px;
		margin-bottom: 5px;
}
}

.work-example__info-text {
	margin: 0;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #FFFAF5;
}

@media (max-width: 1100px) {
	.work-example__info-text {
		font-size: 14px;
}
}

@media (max-width: 550px) {
	.work-example__info-text {
		font-size: 10px;
}
}

.portfolio__marks {
	display: flex;
	gap: 14px;
	margin: 48px auto;
	justify-content: center;
} 

@media (max-width: 1100px) {
	.portfolio__marks {
		flex-wrap: wrap;
	}
}

.portfolio__mark {
	list-style-type: none;
	color: #000000;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	padding: 15px 32px;
	border-radius: 34px;
	background-color: #F2F4F7;
}

@media (max-width: 750px) {
	.portfolio__mark {
		font-size: 16px;
		padding: 8px 16px;
	}
}

.portfolio__bottom {
	max-width: 752px;
	margin: 0 auto;
}

.portfolio__info {
	display: flex;
	margin-bottom: 24px;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.portfolio__project-title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #344054;
	margin: 0;
	letter-spacing: -1.5%;
}

@media (max-width: 750px) {
.portfolio__project-title {
	font-size: 30px;
}
}

.portfolio__open-project {
	width: 58px;
	height: 58px;
	border-radius: 60px;
	cursor: pointer;
	border: none;
	background: url('./assets/images/hero-arrow.svg') center center no-repeat;
	background-color: #FD853A;
	flex: 0 0 58px;
}

.portfolio__project-text {
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #344054;
	text-align: center;
}

.testimnials {
	background: url('./assets/images/testimonials-bg.png') 0 0 no-repeat;
	max-width: 1440px;
	margin: 0 auto;
	border-radius: 50px;
	overflow: hidden;
}

.testimnials__container {
	padding-top: 116px;
	padding-bottom: 72px;
	overflow: hidden;
}

@media (max-width: 660px) {
	.testimnials__container {
		padding: 60px 16px 72px;
	}
}

.testimnials__title {
	margin: 0 auto 128px;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 48px;
	color: #FCFCFD;
	max-width: 465px;
	letter-spacing: -1.5%;
	text-align: center;
	position: relative;
}

@media (max-width: 660px) {
	.testimnials__title {
		margin: 0 auto 60px;
	}
}

.testimnials__title::after {
	content: '';
	position: absolute;
	top: -12px;
	right: 0;
	width: 32px;
	height: 32px;
	background: url('./assets/images/testimonials-title-img.svg') 0 0 no-repeat;
}

.testimnials__title span {
	color: #FD853A;
}

.testimnials__about {
	margin: 0 auto 96px;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #F9FAFB;
	max-width: 745px;
	letter-spacing: -1.5%;
	text-align: center;
	position: relative;
}

@media (max-width: 660px) {
	.testimnials__about{
		margin: 0 auto 26px;
	}
}

.testimnials__about::after {
	content: '';
	position: absolute;
	top: -160px;
	right: -60px;
	width: 32px;
	height: 32px;
	background: url('./assets/images/testimonials-star-top.svg') 0 0 no-repeat;
}

@media (max-width: 660px) {
	.testimnials__about::after {
		display: none;
	}
}

@media (max-width: 900px) {
	.testimnials__about::after {
		right: 0;
	}
}

.testimnials__about::before {
	content: '';
	position: absolute;
	top: -40px;
	left: 0px;
	width: 32px;
	height: 32px;
	background: url('./assets/images/testimonials-star-bottom.svg') 0 0 no-repeat;
}

.testimnials__blocks {
	overflow: hidden;
	position: relative;
}

.testimnials__wrapper {
	transform: translateX(-33%);
	display: flex;
	gap: 24px;
	transition: 0.5s all;
}

@media (max-width: 1250px) {
	.testimnials__wrapper {
		transform: translateX(-45%);
	}
}

@media (max-width: 1150px) {
	.testimnials__wrapper {
		transform: translateX(-55%);
	}
}

@media (max-width: 1050px) {
	.testimnials__wrapper {
		transform: translateX(-65%);
	}
}

@media (max-width: 950px) {
	.testimnials__wrapper {
		transform: translateX(0);

	}
}

.testimnials__quote {
	position: absolute;
	right: 15px;
	top: 15px;
}

.testimnials__block {
	padding: 21px;
	border-radius: 24px;
	border: 1px solid #667085;
	flex: 0 0 784px;
	position: relative;
	z-index: 2;
	transition: 0.1s all;
	cursor: pointer;
}

@media (max-width: 900px) {
	.testimnials__block {
		flex: 0 0 600px;
	}
}

@media (max-width: 660px) {
	.testimnials__block {
		flex: 0 0 400px;
		padding: 8px;
	}
}

@media (max-width: 450px) {
	.testimnials__block {
		flex: 0 0 306px;
	}
}

.testimnials__block::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(250, 250, 250, 0.2);
	z-index: -1;
	border-radius: 24px;
}

.testimnials__person {
	display: flex;
	gap: 12px;
	margin-bottom: 14px;
}

.testimnials__img {
	width: 54px;
	height: 54px;
	border-radius: 54px;
}

.testimnials__name {
	font-family: 'Urbanist-700', sans-serif;
	font-weight: 700;
	font-size: 23px;
	color: #FCFCFD;
}

.testimnials__position {
	font-family: 'Urbanist', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #FCFCFD;
}

.testimnials__rate {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 15px;
}

.testimnials__figure {
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #FCFCFD;
}

.testimnials__text { 
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #F9FAFB;
}

@media (max-width: 660px) {
	.testimnials__text { 
		font-size: 16px;
	}
}

.discuss__container {
	max-width: 832px;
	margin: 0 auto;
	padding-top: 98px;
	padding-bottom: 98px;
}

@media (max-width: 900px) {
	.discuss__container {
		padding: 0 16px 50px;
	}
}

.discuss__title {
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
	color: #344054;
	text-align: center;
	margin-bottom: 10px;
}

@media (max-width: 600px) {
 .discuss__title {
	font-size: 36px;
	margin-top: 0;
 }
}

.discuss__title span {
	color: #FD853A;
}

.discuss__input {
	position: relative;
	margin-bottom: 10px;
}

.discuss__input-aria {
	padding: 32px 14px 32px 95px;
	border: 1px solid #FD853A;
	border-radius: 50px;
	width: 100%;
	font-size: 20px;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	color: #000;
}

@media (max-width: 550px) {
	.discuss__input-aria {
		padding: 12px 14px 12px 60px;
		font-size: 16px;
	}
}

.discuss__input-aria::placeholder {
	font-size: 20px;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	color: #000;
}

@media (max-width: 550px) {
	.discuss__input-aria::placeholder  {
		font-size: 16px;
	}
}

.discuss__icon {
	position: absolute;
	width: 64px;
	height: 58px;
	background: url('./assets/images/benefits-email.svg') center center no-repeat;
	background-color: #FFEAD5;
	border-radius: 50px;
	left: 14px;
	top: 14px;
}

@media (max-width: 550px) {
	.discuss__icon {
		width: 44px;
		height: 38px;
		background-size: 60%;
		left: 7px;
		top: 4px;
	}
}

.discuss__button {
	position: absolute;
	right: 14px;
	top: 14px;
	padding: 20px 40px;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #fff;
	background-color: #FD853A;
	border-radius: 60px;
	border: none;
	width: fit-content;
	cursor: pointer;
}

@media (max-width: 550px) {
	.discuss__button {
		padding: 10px;
		font-size: 12px;
		right: 4px;
		top: 5px;
	}
}

.discuss__benefits {
	display: flex;
	gap: 93px;
	justify-content: center;
}

@media (max-width: 900px) {
	.discuss__benefits {
		gap: 10px;
	}
}

.discuss__benefit {
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	padding-left: 24px;
	position: relative;
}

.discuss__benefit::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
}

.discuss__benefit:nth-of-type(1)::before {
	background: url('./assets/images/benefits-icon-1.svg') center -3px no-repeat;
}

.discuss__benefit:nth-of-type(2)::before {
	background: url('./assets/images/benefits-icon-2.svg') center -3px no-repeat;
}

.discuss__benefit:nth-of-type(3)::before {
	background: url('./assets/images/benefits-icon-3.svg') center -3px no-repeat;
}

.line {
	border-radius: 50px 0 50px 0;
	background-color: #FB6514;
	max-width: 1440px;
	margin: 0 auto;
}

.line__container {
	overflow: hidden;

}


.blog {
	max-width: 1298px;
	margin: 0 auto;
}

.blog__container {
	padding: 97px 16px;
}

.blog__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 48px;
	gap: 20px;
}

.blog__title {
	margin: 0;
	color: #344054;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 48px;
	max-width: 220px;
}

@media (max-width: 500px) {
	.blog__title {
		font-size: 36px;
	}
}

.blog__title-btn {
	padding: 20px 40px;
	border-radius: 60px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #FD853A;
	cursor: pointer;
	border: none;
	flex-shrink: 0;
}

.blog__title-btn:hover {
	background-color: rgb(0,0,0,0.3);
}

.blog__title-btn:active {
	background-color: rgb(0,0,0);
}


.posts {
	display: flex;
	gap: 25px;
	transition: 0.5s all;
}

@media (max-width: 1000px) {
	.posts {
		display: block;
	}
}

.posts__img{
	width: 416px;
	height: 432px;
	position: relative;
	margin-bottom: 35px;
}

@media (max-width: 500px) {
	.posts__img{
		width: auto;
		height: auto;
	 }
}

.posts__imgage {
	width: 100%;
	object-fit: contain;
}


@media (max-width: 1350px)  {
	.posts__item:nth-of-type(1)  {
		display: none;
	}
}

@media (max-width: 1000px) {
	.posts__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 16px;
	}

	.posts__item:nth-of-type(1)  {
		display: flex;
	}
}


.posts__btn{
	width: 105px;
	height: 105px;
	border-radius: 57px;
	border: none;
	position: absolute;
	bottom: 0;
	right: 5px;
	background: url('./assets/images/services-arrow.svg') center center no-repeat;
	background-color: #1D2939;
	cursor: pointer;
}

.posts__btn:hover {
	background-color: #FD853A;
	color: #fff;
}

.posts__btn:active {
	background-color: rgb(0,0,0,0.3);
}

@media (max-width: 500px) {
	.posts__btn{
		width: 80px;
		height: 80px;
	}
}

.posts__chip {
	padding: 15px 32px;
	background-color: #F2F4F7;
	border-radius: 24px;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #000;
	display: inline-block;
	margin-bottom: 35px;
}

.posts__data {
	display: flex;
	gap: 35px;
	margin-bottom: 35px;
}

.posts__info {
	padding-left: 15px;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #344054;
	position: relative;
}

.posts__info::before {
	content: '';
	position: absolute;
	top: 8px;
	left: 0;
	width: 9px;
	height: 9px;
	border-radius: 9px;
	background-color: #FD853A;
}

.posts__text{
	margin: 0;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 32px;
	color: #344054;
}

.footer {
	border-radius: 60px 60px 0 0;
	background-color: #272727;
	max-width: 1398px;
	margin: 0 auto;
}

.footer__container {
	padding: 75px 71px 25px;
}

@media (max-width: 950px) {
	.footer__container {
		padding: 75px 16px 25px;
	}
}

.footer__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 105px;
}

@media (max-width: 1000px) {
	.footer__top {
		margin-bottom: 50px;
	}
}

.footer__title {
	margin: 0;
	color: #FCFCFD;
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
}

@media (max-width: 110px) {
	.footer__title {
		font-size: 46px;
	}
	}

@media (max-width: 900px) {
.footer__title {
	font-size: 40px;
}
}

@media (max-width: 650px) {
	.footer__title {
		font-size: 28px;
	}
}

@media (max-width: 550px) {
	.footer__title {
		font-size: 22px;
	}
}

.footer__btn-hire {
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	padding-inline: 0;
	padding: 14px 75.5px 14px 33.5px;
	background-color: #FD853A;
	border-radius: 60px;
	position: relative;
	border: none;
	font-size: 26px;
	color: #fff;
	cursor: pointer;
}


.footer__btn-hire:hover {
	background-color: rgb(255,255,255,0.3);
}

.footer__btn-hire:active {
	background-color: #FD853A;
	color: #fff;
}

@media (max-width: 1100px) {
	.footer__btn-hire {
		font-size: 20px;
		flex-shrink: 0;
	}
	}


.footer__btn-hire::after {
	position: absolute;
	content: '';
	background-image: url('./assets/images/hero-arrow.svg');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	right: 32px;
	top: 8px;
}

@media (max-width: 900px) {
	.footer__btn-hire::after {
		top: 5px;
	}
}


.footer__line-top, 
.footer__line-bottom {
	width: 100%;
	height: 2px;
	background-color: #475467;
	margin-bottom: 55px;
}

@media (max-width: 900px) {
	.footer__line-top, 
.footer__line-bottom  {
	margin-bottom: 25px;
	}
	}

.footer__info {
	display: flex;
	gap: 29px;
	margin-bottom: 35px;
}

@media (max-width: 900px) {
.footer__info {
	display: block;
}
}

.common {
	width: 50%;
}

@media (max-width: 900px) {
	.common {
		width: 100%;
	}
	}

.common__logo {
	padding-left: 0;
	padding-top: 40px;
	margin-bottom: 50px;
}

.common__text {
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #FCFCFD;
	margin-bottom: 34px;
}

.common__messengers {
	display: flex;
	gap: 5px;
}

.navigation__title, 
.contact__title, 
.latest-info__title {
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #FD853A;
	margin-bottom: 28px;
}

@media (max-width: 900px) {
	.navigation__title, 
.contact__title, 
.latest-info__title {
	margin-bottom: 16px;
	margin-top: 16px;
	}
}

.navigation__list,
.contact-list {
	padding: 0;
}

@media (max-width: 900px) {
	.navigation__list,
	.contact-list {
		display: flex;
		gap: 25px;
	}
}

@media (max-width: 600px) {
	.navigation__list {
		display: block;
	}
}

@media (max-width: 600px) {
	.contact-list {
		flex-wrap: wrap;
		gap: 25px;
	}
}

.navigation__item, 
.contact-item {
	list-style-type: none;
	color: #FCFCFD;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
	.contact-item {
		margin-bottom: 5px;
	}
}

.latest-info__input-block {
	position: relative;
	width: max-content
}

.latest-info__input {
	padding: 15px;
	border-radius: 20px;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	z-index: 1;
	border: none;
}

.latest-info__input::placeholder {
	color: #000;
}

.latest-info__btn {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 20px 20px 0;
	z-index: 2;
	width: 46px;
	height: 100%;
	border: none;
	background: url('./assets/images/footer-input-icon.svg') center center no-repeat;
	background-color: #FD853A;
	cursor: pointer;
}

.rights {
	display: flex;
	justify-content: space-between;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #FCFCFD;
}

@media (max-width: 700px) {
	.rights {
		flex-wrap: wrap;
	}
}

@media (max-width: 700px) {
	.rights__copyright,
	.rights__conditions {
		margin-bottom: 8px;
		font-size: 14px;

	}
}

@font-face {
	font-display: fallback;
	font-family: "Lufga-300";
	font-weight: 300;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Light.ttf") format("truetype");
 }


@font-face {
	font-display: fallback;
	font-family: "Lufga";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Regular.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-500";
	font-weight: 500;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Medium.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-600";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/Lufga-SemiBold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-700";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Bold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Urbanist-600";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Urbanist-700";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Urbanist-Bold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
 }

