* {
	box-sizing: border-box;
}

.header {
	padding-top: 40px;
}

.header__container {
    max-width: 1298px;
    margin: 0 auto 2rem;
    padding: 0.5rem;
	 background-color: #171717;
	 border-radius: 50px;
}

.list {
	display: flex;
	list-style-type: none;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
}

.list__item {
	color: #fff;
	padding: 20px 40px;
	font-size: 1.25rem;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.list__item-active {
	background-color: #FD853A;
	border-radius: 60px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;

}

.logo {
	display: flex;
	padding-left: 84px;
	padding-right: 84px;
}

.hero {
	max-width: 1298px;
	margin: 0 auto;
}

.hero__container {
	text-align: center;
}

.hero__greeting {
	margin: 0 auto;
	display: inline-block;
	font-family: 'Lufga', sans-serif;
	font-weight: 500;
	font-size: 20px;
	padding: 10px 25px;
	border: 1px solid #171717;
	border-radius: 38px;
	position: relative;
}

.hero__greeting::before {
	content: '';
	background-image: url('./assets/images/hero-hello.svg');
	background-repeat: no-repeat;
	width: 36px;
	height: 38px;
	position: absolute;
	right: -30px;
	top: -20px;
	margin-bottom: 10px;
}

.hero__title {
	font-size: 95px;
	margin: 0 0 -50px;
	font-family: 'Urbanist-600', sans-serif;
	font-weight: 600;
	z-index: -1;
	position: relative;
}

.hero__title div {
	position: relative;
	max-width: max-content;
	margin: 0 auto;
}

.hero__title div::before {
	content: '';
	background-image: url('./assets/images/hero-title.svg');
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	left: -66px;
	bottom: -42px;
}

.hero__title span {
	color: #FD853A;
}

.hero__main {
	background: url('./assets/images/hero-photo-bg.png') center -250px no-repeat;
	padding-bottom: 38px;
	position: relative;
}

.hero__text {
	display: flex;
	justify-content: space-between;
	padding-top: 120px;
}

.hero__comment {
	width: 328px;
	text-align: left;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	color: #344054;
	font-size: 20px;
	padding-top: 60px;
	position: relative;
	letter-spacing: -1.5%;
}

.hero__comment::after {
	position: absolute;
	content: '';
	background-image: url('./assets/images/hero-comment.svg');
	background-repeat: no-repeat;
	width: 80px;
	height: 80px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.hero__expertise {
	text-align: right;
	margin-bottom: 207px;
}

.hero__stars {
	margin-bottom: 21px;
}

.hero__years {
	font-family: 'Urbanist-700', sans-serif;
	font-weight: 700;
	font-size: 47px;
	margin: 0 0 5px;
	letter-spacing: -2px;
}

.hero__experince {
	font-family: 'Lufga', sans-serif;
	font-size: 20px;
	margin: 0;
}

.btns {
	margin: 0 auto;
	padding: 10px;
	display: flex;
	max-width: max-content;
	border: 2px solid #D0D5DD;
	border-radius: 50px;
	position: relative;
	z-index: 1;
 }
 
 .btns::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(5px);
	z-index: -1;
	border-radius: 50px;
 }

.btns__btn {
	padding: 14px 17.5px;
	font-size: 25px;
	color: #fff;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	cursor: pointer;
}

.btns__btn-active {
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	padding: 14px 74px 14px 32px;
	background-color: #FD853A;
	border: 1px solid #D0D5DD;
	border-radius: 60px;
	position: relative;
}

.btns__btn-active::after {
	position: absolute;
	content: '';
	background-image: url('./assets/images/hero-arrow.svg');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	position: absolute;
	right: 32px;
	top: 8px;
}

.services {
	background-image: url('./assets/images/services-bg.png');
	background-repeat: no-repeat;
	max-width: 1440px;
	margin: 0 auto;
}

.services__container {
	padding: 68px;
}

.services__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 96px;
	align-items: center;
}

.services__title {
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 48px;
	text-transform: capitalize;
	margin: 0;
}

.services__title span {
	color: #FD853A;
}

.services__info {
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 20px;
	max-width: 576px;
}

.services__examples {
	display: flex;
	gap: 25.5px;
	justify-content: space-between;
	margin-bottom: 40px;
}

.example {
	flex-grow: 0;
	flex-shrink: 1;
	cursor: pointer;
}

.example__title {
	padding: 44px 37px 23px;
	color: #fff;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 32px;
	border: 1px solid #FCFCFD;
	border-radius: 50px 50px 0 0;
	position: relative;
	z-index: 1;
	margin: 0;
}

.example__title::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgb(255, 255, 255, 0.1);
	z-index: -1;
	border-radius: 50px 50px 0 0;
	transition: 0.5s all;
}

.example:hover  .example__title::before {
	background-color: rgb(253, 133, 58);
}

.example__center {
	height: 120px;
	border-left: 1px solid #FCFCFD;
	border-right: 1px solid #FCFCFD;
	position: relative;
	z-index: 1;
}

.example__center::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgb(255, 255, 255, 0.1);
	z-index: -1;
	transition: 0.5s all;
}

.example:hover  .example__center::before {
	background-color: rgb(253, 133, 58);
}

.example__bottom {
	position: relative;
}

.example__img {
	display: inline-block;
	margin-top: -90px;
	z-index: 2;
	position: relative;
	width: 100%;
}

.example:hover .example__bottom .example__btn {
	background-color: rgb(253, 133, 58);
}

.example__btn {
	position: absolute;
	right: 0;
	bottom: 0;
	background-image: url('./assets/images/services-arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	width: 114px;
	height: 114px;
	border-radius: 100px;
	border: none;
	background-color: #1D2939;
	transition: 0.5s all;
}

.slider {
	margin: 0 auto;
	display: flex;
	gap: 12px;
	justify-content: center;
}

.slider__elem {
	width: 15px;
	height: 15px;
	border-radius: 20px;
	background-color:#E4E7EC;
}

.slider-active {
	width: 60px;
	height: 15px;
	border-radius: 20px;
	background-color:rgb(253, 133, 58);
}

.expirience {
	max-width: 1298px;
	margin: 0 auto;
}

.expirience__container {
	padding-top: 85px;
	padding-bottom: 155px;
}

.expirience__title {
	text-align: center;
	font-size: 64px;
	text-transform: capitalize;
	color: #344054;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	margin: 0 0 85px;
}

.expirience__title span {
	color: #FD853A;
}

.expirience__info {
	position: relative;
}

.positon {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
}

.positon__left-block {
max-width: 510px;
}

.position__company {
	color: #344054;
	font-size: 40px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	margin-bottom: 14px;
}

.position__work-period {
	color: #98A2B3;
	font-size: 24px;
}

.positon__right-block {
	width: 444px;
}

.expirience__img {
	position: absolute;
	left: 50%;
	top: 0;
}

.position__name {
	color: #344054;
	margin-bottom: 14px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 40px;
}

.position__description {
	color: #98A2B3;
	font-family: 'Lufga-400', sans-serif;
	font-weight: 5700;
	font-size: 20px;
}

.reason {
	background-color: #F2F4F7;
	border-radius: 50px;
}

.reason__container {
	
	padding-bottom: 103px;
	max-width: 1298px;
	margin: 0 auto;
	display: flex;
}

.reason__img {
transition: 0.5s all;
padding-top: 93px;
padding-left: 20px;
background-size: 0;
background-position: center center;
background-repeat: no-repeat;
}

.reason__container:hover .reason__img{
	background-image: url('./assets/images/reason-img-hover.svg');
	background-size: 100%;
}

.reason__info {
	padding-top: 166px;
}

.reason__title {
	margin: 0 0 47px;
	color: #344054;
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
}

.reason__title span {
	color: #FD853A;
}

.reason__text {
	margin: 0 0 47px;
	max-width: 444px;
	color: #98A2B3;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.reason-list {
	display: flex;
	gap: 10px;
	margin-bottom: 47px;
}

.reason-list__item {
	flex: 1 1 50%;
}

.reason-list__figure {
	color: #1D2939;
	font-family: 'Lufga-500', sans-serif;
	font-weight: 500;
	font-size: 36px;
	margin-bottom: 10px;
}

.reason-list__text {
	color: #667085;
	font-family: 'Lufga', sans-serif;
	font-size: 20px;
}

.reason__button {
	padding: 33px 59px;
	border-radius: 32px;
	border: 1px solid #151515;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #151515;
	cursor: pointer;
}

.portfolio {
	padding-bottom: 97px;
}

.portfolio__container {
	padding-top: 97px;
	max-width: 1290px;
	margin: 0 auto;
}

.portfolio__top {
	display: flex;
	justify-content: space-between;
	margin-bottom: 48px;
	align-items: center;
}

.portfolio__title {
	margin: 0;
	max-width: 643px;
	font-family: 'Lufga-600', sans-serif;
	font-weight: 600;
	font-size: 64px;
	color: #151515;
}

.portfolio__title span {
	color: #FD853A;
}

.portfolio__btn {
	padding: 20px 40px;
	border-radius: 60px;
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: #fff;
	background-color: #FD853A;
	cursor: pointer;
}

.portfolio__examples {
	display: flex;
	gap: 24px;
	margin-bottom: 47px;
}

.work-example {
	padding: 10px 10px 20px;
	background-image: url('./assets/images/portfolio-img.png');
	background-repeat: no-repeat;
	width: 633px;
	background-size: contain;	

}

.work-example__main {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 5;
	cursor: pointer;

}

.work-example__btn {
	margin-bottom: 32%;
	width: 60px;
	height: 60px;
	border-radius: 64px;
	border: 1px solid #FD853A;
	align-self: flex-end;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s all;
}

.work-example:hover .work-example__btn {
	background-color: #FD853A;
}

.work-example:hover .work-example__btn svg path{
	fill: #FFFAF5;
}

.work-example__title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #FFFAF5;
	margin: 0;
}

.work-example:hover .work-example__title {
	visibility: hidden;
}

.work-example__back {
	position: absolute;
	z-index: -1;
	transition: 0.5s transform;
	margin-top: -170px;
	max-width: 613px;
	visibility: hidden;
}

.work-example__container {
	position: relative;
	z-index: 1;
}

.work-example__back::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	backdrop-filter: blur(10px);
	background-color: rgba(0, 0, 0, 0.3);
	z-index: -1;
	border-radius: 24px;
}

.work-example:hover .work-example__info-visible{
	z-index: 10;
	height: auto;
	padding: 20px 24px;
	transform: translateY(-40px);
	visibility: visible;
}

.work-example__info-title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 70px;
	color: #FFFAF5;
	margin: 0 0 20px;
}

.work-example__info-text {
	margin: 0;
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #FFFAF5;
}

.portfolio__marks {
	display: flex;
	gap: 14px;
	margin: 48px auto;
	justify-content: center;
} 

.portfolio__mark {
	list-style-type: none;
	color: #000000;
	font-size: 20px;
	font-family: 'Inter', sans-serif;
	padding: 15px 32px;
	border-radius: 34px;
	background-color: #F2F4F7;
}

.portfolio__bottom {
	max-width: 752px;
	margin: 0 auto;
}

.portfolio__info {
	display: flex;
	margin-bottom: 24px;
	justify-content: space-between;
	align-items: center;
}

.portfolio__project-title {
	font-family: 'Lufga-700', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #344054;
	margin: 0;
	letter-spacing: -1.5%;
}

.portfolio__open-project {
	width: 58px;
	height: 58px;
	border-radius: 60px;
	cursor: pointer;
	border: none;
	background: url('./assets/images/hero-arrow.svg') center center no-repeat;
	background-color: #FD853A;
}

.portfolio__project-text {
	font-family: 'Lufga', sans-serif;
	font-weight: 400;
	font-size: 20px;
	color: #344054;
	text-align: center;
}


@font-face {
	font-display: fallback;
	font-family: "Lufga-300";
	font-weight: 300;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Light.ttf") format("truetype");
 }


@font-face {
	font-display: fallback;
	font-family: "Lufga";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Regular.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-500";
	font-weight: 500;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Medium.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-600";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/Lufga-SemiBold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Lufga-700";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Lufga-Bold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Urbanist-600";
	font-weight: 600;
	font-style: normal;
	src: url("./assets/fonts/Urbanist-SemiBold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Urbanist-700";
	font-weight: 700;
	font-style: normal;
	src: url("./assets/fonts/Urbanist-Bold.ttf") format("truetype");
 }

 @font-face {
	font-display: fallback;
	font-family: "Inter";
	font-weight: 400;
	font-style: normal;
	src: url("./assets/fonts/Inter-Regular.ttf") format("truetype");
 }

